html {
    scroll-behavior: smooth;
}

.navbar .logo {
    font-weight: bold;
}

.home nav ul li a {
    margin: 10px;
    font-weight: bold;
}

.home nav ul li a:hover {
    color: rgb(4, 103, 253) !important;
}

#header-img {
    width: 100%;
    height: 100%;
}

.header {
    padding-top: 100px;
    padding-bottom: 50px;
}

#headerContainer {
    background-color: #eee;
}

.header h1 {
    color: gray;
    font-weight: bold;
}

#btn-protect {
    border-radius: 30px;
    padding: 10px
}

#btn-protect a {
    text-decoration: none;
    font-weight: bold;
}

#link-protect {
    text-decoration: none;
    font-weight: bold;
}

.header .note {
    font-style: italic;
    font-size: 12px;
}

#font {
    font-family: 'Bebas Neue', cursive;
}

.text-gray {
    color: gray;
}

#aboutCovid {
    padding-bottom: 100px;
}

#aboutCovid ul {
    list-style-type: none;
}

#aboutCovid ul li a {
    text-decoration: none;
}

.aboutTable {
    border: 1px solid #eee
}

.aboutTable a {
    text-decoration: none;
}

.aboutHeading {
    margin-top: 10px;
}

#transmission {
    background-color: #eee;
    padding-top: 100px;
}

#transmission .card img {
    border-bottom: 5px solid rgb(137, 174, 199);
}

#transmission button {
    border-radius: 20px;
    padding: 10px;
}

#transmission button a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

#symptoms .card {
    margin-bottom: 200px;
    position: relative;
}

#symptoms .card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    bottom:80%;
    left: 70%
}

#symptoms button {
    border-radius: 20px;
    padding: 10px;
}

#symptoms button a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

#symptoms .separator {
    padding-bottom: 100px;
}

#protection {
    background-color: #eee;
    padding-bottom: 100px;
}

#protection img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#protection .advice {
    padding-bottom: 50px;
}

#protection button {
    border-radius: 20px;
}

#protection button a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

#protection .protectionH {
    margin-top: 10px;
}

#steps {
    background-color: #eee;
}

#steps img {
    width: 100%;
    height: 100%;
}

#steps .stepsBox {
    border-radius: 10px;
    padding-bottom: 40px;
}

.steps-separator a {
    text-decoration: none;
    font-weight: bold;
}

#steps .hands img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#steps .hands h6 {
    padding-bottom: 100px;
}

#treatment {
    background-color: rgb(54, 122, 185);
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

#treatment .container h4 {
    color: turquoise;
}

#treatment .container .rightPara {
    background-color: rgb(34, 85, 161);
    border-radius: 10px;
    padding: 20px;
}

#dos {
    background-color: #eee;
}

#dos .dos-intro p {
    padding-bottom: 80px;
}

.figures .middle-figure img {
    width: 100%;
    height: 100%;
}

.figures .left-figure img,
.figures .right-figure img {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid rgb(88, 88, 214);
    border-radius: 50%;
}

.margin-20 {
    margin-bottom: 20px;
}

.figures {
    padding-bottom: 100px;
}

.up {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 123;
    opacity: 0;
    transition: 0.5s;
    border-radius: 50%;
}

.none {
    display: none;
}

#switchBtn {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 90px;
    z-index: 123;
    border-radius: 50%;
    border: 1px solid white
}



#news {
    background-color: #eee;
}

#news .card {
   border-radius: 10px;
}

#news .card img {
    border-radius: 5px;
}

#footer {
    background-color: rgb(30, 30, 78);
    color: rgb(180, 178, 178);
}

#footer div a {
    text-decoration: none;
    color: rgb(180, 178, 178);
}

#footer div a:hover {
    color: rgb(42, 79, 240);
}

#footer h4,
#footer h3 {
    color: white;
}

#footer div {
    font-size: 12px;
}

#faq {
    background-color: white;
}



#faq .nav a {
    color: black;
    border: 1px solid rgb(201, 197, 197);
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#faq .nav a:hover {
    color: rgb(60, 138, 228);
}

#faq .nav .active {
    background-color: white;
    border: 1px solid blue;
    color: blue;
    
 }


#faq .card button {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#faq .card button:hover {
    color: rgb(60, 138, 228);
}

#faq .nav {
    position: relative;
}

#faq .nav-link i {
    position: absolute;
    right: 50px;
}


.dont-img {
    position: relative;
}

.dont {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 123;
    
}

.do-img {
    position: relative;
}

.do {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 123;
}